<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
    <!--lesson -02-12-->
    <div id="app">
       <div v-if="showSeries">

       <!--<p>{{books[0].title}} - {{books[0].author}} </p>
        <p>{{books[1].title}} - {{books[1].author}} </p>
        <p>{{books[2].title}} - {{books[2].author}} </p> --> 

        <ul>
            <li v-for="book in books">
                <h3>{{ book.title }}</h3>
                <p> {{ book.author }}</p>
            </li>
        </ul>

       </div>

       <button @click="toogleShowSeries">
        <span v-if="showSeries">Hide Series</span>
        <span v-else>Show Series</span>
       
       </button>


    </div>
    
    <script src="app.js"></script>
</body>
</html>